<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Csskod.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
         
            <header>
                <div class="container">
                    <div class="row header" style="background-color: white;">
                        <div class="col-md-2"><img src="~/Content/Images/JEbygg%20logga.png" /></div>
                        <div class="col-md-10">
                            <img src="~/Content/Images/headerje1.png" style="width:100%;">
                        </div>
                    </div>
                </div></header>
        
      
         
        <div class="navbar navbar-inverse">
            
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Startsida", "Index", "Home")</li>
                        <li>@Html.ActionLink("Nyheter", "Nyheter", "Home")</li>
                        <li>@Html.ActionLink("Felanmälan", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Intresseanmälan", "Index", "Home")</li>
                        <li>@Html.ActionLink("Lediga objekt", "About", "Home")</li>
                        <li>@Html.ActionLink("Våra fastigheter", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Frågor och svar", "Index", "Home")</li>
                        <li>@Html.ActionLink("Kontakta oss", "About", "Home")</li>
                        <li>@Html.ActionLink("Om oss", "Contact", "Home")</li>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="footerinfo" style="margin:auto; text-align: center;">
                    <p>Kontaktinformation</p>
                    @Html.ActionLink("Admin", "Login", "Account")
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/Script.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
