<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Csskod.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
         
      <div class="headern">
    <div class="row header1" style="background-color: white; text-align:center;">
       
            <div class="col-md-10 rightimage">
                <center>
                    <img src="~/Content/Images/headerje1.png" style="width:100%;">
                    <a class="leftimage" href="~/Home/Index"><img class="img-responsive" src="~/Content/Images/transparent.png"></a>
                </center>
</div>
        
        @*<div class="col-md-2 leftimage"></div>*@

    </div>

                </div>
        
      
         
        <div class="navbar navbar-inverse">
            
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Startsida", "Index", "Home")</li>
                        <li>@Html.ActionLink("Nyheter", "Nyheter", "Home")</li>
                        <li>@Html.ActionLink("Felanmälan", "Felanmalan", "Home")</li>
                        <li>@Html.ActionLink("Intresseanmälan", "Intresseanmalan", "Home")</li>
                        <li>@Html.ActionLink("Lediga objekt", "LedigaObjekt", "Home")</li>
                        <li>@Html.ActionLink("Våra fastigheter", "Varafastigheter", "Home")</li>
                        <li>@Html.ActionLink("Frågor och svar", "FragorOchSvar", "Home")</li>
                        <li>@Html.ActionLink("Kontakta oss", "Kontakt", "Home")</li>
                        <li>@Html.ActionLink("Om oss", "omoss", "Home")</li>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="footerinfo">
                    <div class="row">
                        <div class=" col-md-3 first">
                            <a href="~/Home/Index"><img src="~/Content/Images/JEbygg%20logga.png"></a>
   
                    </div>
                        <div class="col-md-3 second">
                            <p style="color:#5f5f5f"><b>
                                JOHN EKSTRÖMS BYGG AB
                                <br /> Org. nr 556212-0468
                                <br />Ormestagatan 1B
                                <br />702 83 Örebro
                                <br />
                                <span class="glyphicon glyphicon-map-marker"></span><a href="https://goo.gl/maps/oeFiqLVaNsv" target="_blank">Hitta hit</a>
                                </b> 
                            </p>
                         
                        </div>
                        <div class="col-md-3 third"> 
                            <p style ="color: #5f5f5f"><b>
                                KONTORETS ÖPPETTIDER
                                <br />Måndag - fredag: 07:30 - 16:30
                                <br />Telefontid: 09:00 - 16:00
                                <br />Lunchstängt: 12:00 - 13:00
                            </b>
                            </p>
                        </div>
                        <div class="col-md-3 fourth">
                            <p style="color: #5f5f5f">
                                <b>
                                    TELEFON
                                    <br />019-16 43 70
                                    <br />Jourtelefon efter kontorstid:
                                    <br />010 - 470 57 58
                                
                                </b>
                            </p>
                        </div>
                    </div>
                    <div class="admin" style="text-align:center; font-size:small;">
                        <a href="~/Account/Login" style="color:grey;">Admin</a></div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/Script.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
